body {
  font-family: "Courier New", Courier, monospace, sans-serif, arial;
  background-color: #080808;
  color: azure;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, arial;
  margin: 4px;
  transition: opacity 1.5s;
}

footer {
  margin: 3%;
  font-family: "Courier New", Courier, monospace, sans-serif, arial;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: azure;
  text-decoration-color: #eb4034;
  text-decoration-style: dotted;
}

a:hover {
  color: #eb4034;
  text-decoration-style: dotted;
}

button {
  background-color: #eb4034;
  color: azure;
  border-radius: 8px;
  font-size: 3vw;
  padding: 12px;
  margin: 6px;
  border-color: azure;
  border-style: solid;
  box-shadow: 0 1px 2px 0 rgba(245, 217, 217, 0.3), 0 4px 8px 2px rgba(124, 121, 121, 0.253);
  transition: 250ms;
}

button:hover {
  box-shadow: 0 1px 2px 0 rgba(245, 217, 217, 0.3), 0 4px 8px 2px rgb(0, 0, 0);
  filter: brightness(85%)
}

code {
  font-family: Consolas, "Courier New", Courier, monospace, sans-serif, arial;
  color: #eb4034;
  background-color: #36342e;
  font-size: 105%;
  padding: 4px;
  border-radius: 4px;
}

.codeblock {
  margin: 4px;
  padding: 4px;
  background-color: #36342e;
  border-radius: 4px;
}

pre {
  font-family: Consolas, "Courier New", Courier, monospace, sans-serif, arial;
  color: #eb4034;
  background-color: #36342e;
  font-size: 105%;
  padding: 4px;
  border-radius: 4px;
  word-break: normal;
  overflow: auto;
}

b {
  color: #eb4034;
}

.content {
  margin-right: 12vw;
  margin-left: 12vw;
}

header {
  margin: 3%;
  font-family: "Courier New", Courier, monospace, sans-serif, arial;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h6 {
  display: inline-block;
  margin: 2px;
}

.custimg {
  max-width: 400px;
  width: 42%;
  margin: 4px;
  border-radius: 16px;
  border-color: azure;
  border-width: 3px;
  border-style: solid;
}

.hplink {
  display: inline-block;
  margin: 16px;
  width: 48vmin;
  height: 48vmin;
  border-radius: 10%;
  box-shadow: 0 1px 2px 0 rgba(245, 217, 217, 0.3), 0 8px 10px 6px rgba(124, 121, 121, 0.253);
  transition: 250ms;
}

.hplink:hover {
  box-shadow: 0 1px 2px 0 rgba(245, 217, 217, 0.3), 0 8px 10px 6px rgb(0, 0, 0);
  filter: brightness(85%)
}

.project {
  padding: 6%;
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 250ms;
  filter: brightness(66%);
}
.project:hover {
  filter: brightness(100%);
  background-color: #121212;
}

input {
  background-color: #312c2c;
  color: white;
  padding: 4px;
  margin: 6px;
  border: none;
  border-radius: 6px;
}

input[type=submit] {
  background-color: #eb4034;
  transition: 250ms;
}

input[type=submit]:hover {
  background-color: #e86c64;
  color: black;
  box-shadow: 0 1px 2px 0 rgba(245, 217, 217, 0.3), 0 8px 10px 6px rgb(0, 0, 0);
}

ul {
  list-style: none;
  padding-left: 5%
}

li::before {
  content: "> ";
  color: #eb4034;
}

p::before {
  content: "> ";
  color: #eb4034;
}

select {
  border: 2px solid;
  border-color: azure;
  border-radius: 4px;
  background-color: #eb4034;
}

h2 {
  text-decoration: underline;
  text-decoration-color: #eb4034;
  text-decoration-style: dotted;
}

.Hotspot {
  unset: all;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  border-radius: 32px;
  border: 0px none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s ease 0s;
  width: 24px;
}

.Hotspot:not([data-visible]) {
  background: transparent none repeat scroll 0% 0%;
  border: 4px solid rgb(255, 255, 255);
  box-shadow: none;
  height: 32px;
  pointer-events: none;
  width: 32px;
}

model-viewer {
  width: 100%;
  height: 75vh;
}