body {
    background-color: #1B1A17;
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, arial;
    margin: 4px;
    transition: opacity 1.5s;
}
footer {
    margin: 16px;
    margin-top: 3%;
    font-family: "Courier New", Courier, monospace, sans-serif, arial;
}

a {
    color: azure;
    text-decoration-color: #eb4034;
    text-decoration-style: dotted;
}
a:hover {
    color: #eb4034;
    text-decoration-style: dotted;
}

button {
    background-color: #eb4034;
    color: azure;
    border-radius: 8px;
    font-size: 3vw;
    padding: 12px;
    margin: 6px;
    border-color: azure;
    border-style: solid;
    box-shadow: 0 1px 2px 0 rgba(245, 217, 217, 0.3),0 4px 8px 2px rgba(124, 121, 121, 0.253);
    transition: 250ms;
}

button:hover {
    box-shadow: 0 1px 2px 0 rgba(245, 217, 217, 0.3),0 4px 8px 2px rgb(0, 0, 0);
    filter: brightness(85%)
}

b {
    color: #eb4034;
}

.content {
    margin-right: 18vw;
    margin-left: 18vw;
}

.header {
    text-align: justify;
    color: azure;
    font-family: "Courier New", Courier, monospace, sans-serif, arial;
    margin: 3%;
}

h6 {
    display: inline-block;
    margin: 2px;
}

.custimg {
    width: 34vw;
    margin: 4px;
    border-radius: 5%;
    border-color: azure;
    border-width: 3px;
    border-style: solid;
}

.hplink {
    display: inline-block;
    margin: 16px;
    width: 56vmin ; height: 56vmin;
    border-radius: 10%;
    box-shadow: 0 1px 2px 0 rgba(245, 217, 217, 0.3),0 8px 10px 6px rgba(124, 121, 121, 0.253);
    transition: 250ms;
}
.hplink:hover {
    box-shadow: 0 1px 2px 0 rgba(245, 217, 217, 0.3),0 8px 10px 6px rgb(0, 0, 0);
    filter: brightness(85%)
}

ul {
  list-style: none;
  padding-left: 5%
}

li::before {
  content: "> ";
  color: red;
}
